.logo {
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 83px;

    span {
        display         : block;
        widows          : 177px;
        height          : 47px;
        background-color: #1a1a1a
    }
}