body {
    background-color: #001529;
}

.form-wrap {
    display        : flex;
    width          : 250px;
    height         : 100vh;
    margin         : 0 auto;
    align-items    : center;
    justify-content: center;

    .form-main {
        width: 100%;
    }
}

.form-header {
    height     : 56px;
    line-height: 56px;
    color      : #fff;

    .column {
        float    : left;
        font-size: 16px;
        color    : #fff;
    }

    span {
        float    : right;
        font-size: 12px;
        opacity  : 0.3;
    }
}